.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  box-sizing: content-box;
  padding: 56px 0 0;
}

@media (max-width: 1024px) {
  .lead {
    padding-top: 48px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead {
    width: calc(100% - 96px);
  }
}