.header__logo {
  max-width: 176px;
  max-height: 52px;
  object-fit: contain;
}

@media (min-width: 321px) and (max-width: 768px) {
  .header__logo {
    width: calc((100vw - 321px) / (768 - 321) * (176 - 142) + 142px);
  }
}

@media (max-width: 320px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}