.place__website-link {
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  opacity: 1;
  border-bottom: 1.5px solid #fff;
  text-decoration: none;
  transition: opacity 1s ease;
}
    
.place__website-link:hover {
  opacity: 0.8;
}